.sectionHeading {
  display: inline-block;
	background: #2d639e;
	color: #fff;
	font-size: 20px;
	line-height: 25px;
	font-weight: normal;
	border-radius: 2px;
	padding: 10px 30px;
	margin: 0 auto 20px;
  border-bottom: 2px solid #ccc;
  text-align: center;
}
.faqsList h3 {
  background-color: #f5f5f5;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  color: #333333;
  padding: 10px 20px;
}
.faqsList .acceptedAnswer {
  background-color: #fff;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  color: #333333;
  padding: 13px 18px;
}
.innerManufacture {
  display: block;
  -webkit-box-shadow: 0 0 5px 0.5px #C2C2C2;
  box-shadow: 0 0 5px 0.5px #C2C2C2;
}
.innerManufacture img {
	display: block;
	width: 100%;
	height: auto;
}
.innerManufacture .productCategory {
  display: block;
  text-align: center;
  padding: 10px 0;
  border-top: 1px solid #ccc;
}
.starRating li {
  float: left;
  width: 20px;
  height: 20px;
  background-image: url("/images/star.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
}
.innerRating p {
  margin-bottom: 10px;
}
.reviewerInfo {
  padding: 10px 0 0;
  width: 100%;
  overflow: hidden;
}
.innerRating.innerManufacture {
  padding: 20px;
  position: relative;
  min-height: 250px;
}
.ratingWrap {
  position: absolute;
  bottom: 0;
}
.subHead {
	display: block;
	font-size: 18px;
	line-height: 23px;
	margin: 0 0 10px;
}